body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section-one,
.header,
.footer {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    background-color: #1f2937;
    padding: 1em 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text,
.header-link {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 100px;
}

.header-links {
    justify-content: flex-end;
}

.text-and-button {
    padding: 12px 100px;
}

.section-one-image {
    display: flex;
    height:  110px;
    width: 500px;
    padding: 20px 30px;
    background-color: gray;
    align-items: center;
    justify-content: center; 
}